.map-container {
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.bus-info-card {
    max-width: 600px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
}

.bus-details {
    padding: 1rem;
}

@media (max-width: 767.98px) {
    .map-container {
        height: 300px;
    }
}
